name: Watch
on:
  push:
    branches-ignore:
      - main
  pull_request:
jobs:
  check-changed:
    runs-on: macos-latest
    outputs:
      modified: ${{ contains(steps.changed-files.outputs.modified_files, 'undergradmath.typ') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check changed files
        id: changed-files
        uses: tj-actions/changed-files@v46
      - name: List all modified files
        run: |
          echo "List all the files that have been modified: ${{ steps.changed-files.outputs.modified_files }}"
  build-pdf:
    runs-on: macos-latest
    needs: check-changed
    if: needs.check-changed.outputs.modified == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update Homebrew
        run: brew update
      - name: Install Typst
        run: brew install typst
      - name: Install fonts
        run: |
          brew tap homebrew/cask-fonts
          brew install --cask font-twitter-color-emoji
      - name: Build PDF
        run: typst compile undergradmath.typ
      - name: Upload PDF as artifact
        uses: actions/upload-artifact@v4
        with:
          name: Undergradmath
          path: undergradmath.pdf
